<template>
  <header>
    <h1>FriendList</h1>
  </header>
  <section id="app">
    <ul>
      <fnd-contact></fnd-contact>
      <fnd-contact></fnd-contact>
    </ul>
  </section>
</template>

<script>
export default {
  data() {},
};
</script>
